html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #F4F4F4;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
}

a {
  color: #000000;
}

body h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body div {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #AAAAAA;
  padding: 10px;
  width: 1000px;

  background-color: #FFFFFF;
}
