html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #F4F4F4;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
}

a {
  color: #000000;
}

pre {
  font-size: 14px;
  margin-left: 40px;
}

code {
  white-space: pre;
}

#title {
  background-color: #F4F4F4;
}

#title h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#menu {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#menu a {
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

#menu span {
  border-bottom: 1px solid #000000;
  margin-left: 5px;
  margin-right: 5px;
}

#body {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #AAAAAA;
  padding: 10px;
  width: 1000px;

  background-color: #FFFFFF;
}

#bodycontent {
  max-width: 1000px;
}

#copyright {
  margin-left: 80px;
}

.pager {
  width: 15em;
  height: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.repo h2 {
  text-decoration: underline;
  font-size: 100%;
}

.blogentry {
  margin-bottom: 50px;
}

.blogentry h2 {
  text-align: center;
}

.blogentry .date {
  font-size: 75%;
  text-align: center;
  width: 100%;
}

.blogbody {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: justify;
}

.youtube-player {
  width: 640px;
  height: 385px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
}

.photogrid {
  overflow: hidden;
  padding-bottom: 3em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.photogrid .photo {
  width: 144px;
  height: 144px;
  margin: 3.5%;
  float: left;
  margin-bottom: 50px;
}

.photogrid .photo:last-child {
  margin-bottom: 0px;
}

.photo a {
  text-decoration: none;
}

.photo .caption {
  display: block;
}

.photo.fullsize img {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.photo.frontpage {
  margin-bottom: 50px;
}

.photo.frontpage h2 {
  text-align: center;
}

.photo.frontpage img {
  display: block;
  max-width: 480px;
  max-height: 480px;
  margin-left: auto;
  margin-right: auto;
}
