<div class="blogentry" itemscope itemtype="http://schema.org/BlogPosting">
<h2 itemprop="name headline" content="{{title}}"><a href="{{link}}" itemprop="url" content="{{link}}">{{title}}</a></h2>
<div class="date" itemprop="datePublished" content="{{updatedTime}}">{{date}}</div>
<div class="blogbody" itemProp="articleBody">
{{{body}}}
</div>
</div>
