<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
        <title>{{title}}{{^title}}Conor McDermottroe{{/title}}</title>
        
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="author" href="/about/" title="Conor McDermottroe" />
        <link rel="home" href="/" />
        <link rel="section" href="/" title="Home" />
        <link rel="section" href="/blog/" title="Blog" />
        <link rel="section" href="/tech/" title="Tech" />
        <link rel="section" href="/photos/" title="Photos" />
        <link rel="section" href="/about/" title="About" />
        {{#canonicalLink}}<link rel="canonical" href="{{canonicalLink}}" />{{/canonicalLink}}
        <link rel="alternate" href="http://twitter.com/IRLConor" title="Twitter" />
        <link rel="alternate" href="http://www.facebook.com/conor.mcdermottroe" title="Facebook" />
        <link rel="alternate" href="http://www.linkedin.com/in/conormcdermottroe" title="LinkedIn" />
        <link rel="openid.server" href="http://www.myopenid.com/server" />
        <link rel="openid.delegate" href="http://conor.mcdermottroe.myopenid.com" />

        <meta charset="utf-8" />
        {{#metadata}}
        <meta{{#name}} name="{{name}}"{{/name}}{{#property}} property="{{property}}"{{/property}} {{#content}}content="{{content}}"{{/content}} />
        {{/metadata}}

        {{{newRelicJSHeader}}}

        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" media="screen and (max-width: 480px)" type="text/css" href="/css/mobile.css" />
    </head>
    <body>
        <section id="title"><h1><a href="/">Conor McDermottroe</a></h1></section>
        <section id="menu">
            <span><a href="/blog">Blog</a></span>
            <span><a href="/tech">Tech</a></span>
            <span><a href="/photos">Photos</a></span>
            <span><a href="/about">About</a></span>
        </section>
        <section id="body">
            <section id="bodycontent">
