<div class="instagramphoto">
<h2><a href="{{link}}">{{title}}</a></h2>
<a href="{{link}}"><img src="{{image}}" height="480" width="480" alt="{{caption}}" /></a>
<div class="caption">{{caption}}</div>
</div>
