<div class="pager">
    {{#previous}}
    <a href="{{previous}}">&laquo; {{previousLabel}}</a>
    {{/previous}}
    {{#next}}
    <a href="{{next}}">{{nextLabel}} &raquo;</a>
    {{/next}}
</div>
<script type="text/javascript">
document.onkeydown = function(e) {
    if (!e) e = window.event;
    var key = e.keyCode ? e.keyCode : e.which;
    if (key == 37 && "{{previous}}" != "") {
        document.location = "{{previous}}";
        return false;
    } else if (key == 39 && "{{next}}" != "") {
        document.location = "{{next}}";
        return false;
    }
    return;
}
</script>
