<div class="photo frontpage" itemscope itemtype="http://schema.org/Photograph">
<h2><a href="/photos/{{slug}}" itemprop="name">{{title}}</a></h2>
<a href="/photos/{{slug}}" itemprop="url" content="/photos/{{slug}}">
{{#thumbnail}}
<img src="{{large}}" alt="{{title}}" itemprop="image" content="{{fullsize}}" />
{{/thumbnail}}
</a>
</div>
