<div class="photo" itemscope itemtype="http://schema.org/Photograph">
	<a href="/photos/{{slug}}" itemprop="url" content="/photos/{{slug}}">
		{{#thumbnail}}{{> photo_thumbnail}}{{/thumbnail}}
		<span class="caption" itemprop="description">{{title}}</span>
	</a>
</div>
