<a href="{{fullsize}}" itemprop="url" content="{{fullsize}}"><img src="{{large}}" alt="{{title}}" itemprop="image" content="{{large}}" /></a>
<span class="caption" itemprop="description">{{title}}</span>
