{% extends "anatole-zola/templates/basic.html" %}

{% block extra_head %}
<link rel="canonical" href="https://www.mcdermottroe.com/" />
<link rel="alternate" href="https://www.facebook.com/conor.mcdermottroe" title="Facebook" />
<link rel="alternate" href="https://www.flickr.com/photos/91242583@N03/" title="Flickr" />
<link rel="alternate" href="https://github.com/conormcd" title="GitHub" />
<link rel="alternate" href="https://www.instagram.com/irlconor/" title="Instagram" />
<link rel="alternate" href="https://www.linkedin.com/in/conormcdermottroe" title="LinkedIn" />
<link rel="alternate" href="https://twitter.com/IRLConor" title="Twitter" />

<meta name="author" content="Conor McDermottroe" />
<meta name="description" content="The personal web pages of Conor McDermottroe." />
{% endblock %}

{% block more_social_link %}
<li><a href="https://www.linkedin.com/in/conormcdermottroe"><i class="fab fa-linkedin"></i></a></li>
<li><a href="https://www.flickr.com/photos/91242583@N03/"><i class="fab fa-flickr"></i></a></li>
{% endblock %}

{% block footer %}

{% endblock %}
