{% extends "anatole-zola/templates/basic.html" %}

{% block extra_head %}
<link rel="canonical" href="https://www.mcdermottroe.com/" />
<link rel="alternate" href="https://www.facebook.com/conor.mcdermottroe" title="Facebook" />
<link rel="alternate" href="https://www.flickr.com/photos/91242583@N03/" title="Flickr" />
<link rel="alternate" href="https://github.com/conormcd" title="GitHub" />
<link rel="alternate" href="https://www.instagram.com/irlconor/" title="Instagram" />
<link rel="alternate" href="https://www.linkedin.com/in/conormcdermottroe" title="LinkedIn" />
<link rel="alternate" href="https://twitter.com/IRLConor" title="Twitter" />
<link rel="alternate" href="https://mastodon.social/@irlconor" title="Mastodon" />

<meta name="author" content="Conor McDermottroe" />
<meta name="description" content="The personal web pages of Conor McDermottroe." />
{% endblock %}

{% block footer %}

{% endblock %}
