{{> head}}

<div itemscope itemtype="http://schema.org/Person">

<p>I'm <span itemprop="name"><span itemprop="givenName">Conor</span>
<span itemprop="familyName">McDermottroe</span></span>. I write software for
<span itemprop="worksFor" itemscope itemtype="http://schema.org/Corporation">
<a href="https://www.engineyard.com/" itemprop="url" content="https://www.engineyard.com/">
<span itemprop="name">Engine Yard</span></a></span> and I shoot
<a href="https://en.wikipedia.org/wiki/50_metre_rifle_prone">50m prone rifle</a> for
<span itemprop="affiliation" itemscope itemtype="http://schema.org/SportsTeam">
<a href="http://www.targetshooting.ie/" itemprop="url" content="http://www.targetshooting.ie/">
<span itemprop="name">Ireland</span></a></span> and
<span itemprop="affiliation" itemscope itemtype="http://schema.org/SportsTeam">
<a href="http://www.durifleclub.com/" itemprop="url" content="http://www.durifleclub.com/">
<span itemprop="name">Dublin University Rifle Club</span></a></span>.</p>

<p>Other places you can find me on the internet are:</p>

<ul>
	<li><a href="http://www.facebook.com/conor.mcdermottroe" itemprop="url" content="http://www.facebook.com/conor.mcdermottroe">Facebook</a></li>
	<li><a href="http://www.flickr.com/photos/91242583@N03/" itemprop="url" content="http://www.flickr.com/photos/91242583@N03/">Flickr</a></li>
	<li><a href="https://github.com/conormcd" itemprop="url" content="https://github.com/conormcd">GitHub</a></li>
	<li><a href="http://instagram.com/irlconor/" itemprop="url" content="http://instagram.com/irlconor/">Instagram</a></li>
	<li><a href="http://www.linkedin.com/in/conormcdermottroe" itemprop="url" content="http://www.linkedin.com/in/conormcdermottroe">LinkedIn</a>
		(I'm not looking for work at the moment, thanks.)
	</li>
	<li><a href="http://twitter.com/IRLConor" itemprop="url" content="http://twitter.com/IRLConor">Twitter</a></li>
</ul>

</div>

{{> tail}}
