{{> head}}

<p>I'm Conor McDermottroe and I'm a software developer and target shooter living
and <a href="http://www.engineyard.com/">working</a> in Dublin.</p>

<p>Other places you can find me on the internet are:</p>

<ul>
	<li><a href="http://www.facebook.com/conor.mcdermottroe">Facebook</a></li>
	<li><a href="http://twitter.com/IRLConor">Twitter</a></li>
	<li><a href="http://instagram.com/irlconor/">Instagram</a></li>
	<li><a href="http://www.linkedin.com/in/conormcdermottroe">LinkedIn</a>
		(I'm not looking for work at the moment, thanks.)
	</li>
	<li><a href="https://github.com/conormcd">GitHub</a></li>
</ul>

{{> tail}}
