{{> head}}
{{#entries}}
{{#isBlogEntry}}
{{> blogentry}}
{{/isBlogEntry}}
{{#isPhotoAlbum}}
{{> photo_album_front_page}}
{{/isPhotoAlbum}}
{{#isInstagramPhoto}}
{{> instagramphoto}}
{{/isInstagramPhoto}}
{{/entries}}
{{> pager}}
{{> tail}}
