{{> head}}

<div class="photoalbumgrid">
{{#page}}
<div class="photoalbumthumbnail">
    <a href="{{link}}">
        <img src="{{thumbnail}}" />
        <div>{{title}}</div>
    </a>
</div>
{{/page}}
</div>

{{> tail}}
