{{>head}}

{{^name}}
<table>
  <thead>
    <tr>
      <th>Club</th>
      <th>Coordinates</th>
      <th>Map</th>
      <th>KML</th>
      <th>GPX</th>
    </tr>
  </thead>
  <tbody>
  {{#clubs}}
    <tr class="vcard">
      <td><a class="fn org" href="?club={{name}}">{{name}}</a></td>
      <td class="geo">
        <abbr class="latitude" title="{{latitude}}">{{{latitudeDMS}}}</abbr>
        <abbr class="longitude" title="{{longitude}}">{{{longitudeDMS}}}</abbr>
      </td>
      <td><a href="map.php?club={{name}}">View</a></td>
      <td><a href="kml.php?club={{name}}">KML</a></td>
      <td><a href="gpx.php?club={{name}}">GPX</a></td>
    </tr>
  {{/clubs}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">All Ranges</td>
      <td><a href="map.php?club=All">View</a></td>
      <td><a href="kml.php?club=All">KML</a></td>
      <td><a href="gpx.php?club=All">GPX</a></td>
    </tr>
  </tfoot>
</table>
{{/name}}
{{#name}}
<table class="vcard">
  <tr><th>Club/Range</th><td class="fn org">{{name}}</td></tr>
  <tr>
    <th>Coordinates</th>
    <td class="geo">
      <abbr class="latitude" title="{{latitude}}">{{{latitudeDMS}}}</abbr>
      <abbr class="longitude" title="{{longitude}}">{{{longitudeDMS}}}</abbr>
    </td>
  </tr>
  {{#url}}
  <tr>
    <th>Website</th>
    <td><a href="{{.}}" class="url">{{.}}</a></td>
  </tr>
  {{/url}}
  {{#address}}
  <tr>
    <th>Address</th>
    <td>
      <div>{{name}}</div>
      <div class="street-address">{{street-address}}</div>
      {{#extended-address}}
      <div class="extended-address">{{.}}</div>
      {{/extended-address}}
      {{#postal-code}}
      <div>
        <span class="locality">{{locality}}<span>
        <span class="postal-code">{{postal-code}}</span>
      </div>
      {{/postal-code}}
      {{^postal-code}}
      <div class="locality">{{locality}}</div>
      {{/postal-code}}
    </td>
  </tr>
  {{/address}}
</table>
{{/name}}

{{>tail}}
