{{> head}}
<p>Any code that I make public is available
   <a href="https://github.com/conormcd">on GitHub</a> and all my public
   repositories are listed below.
</p>
{{#gitHubRepos}}
<div class="repo" itemscope itemtype="http://schema.org/Code">
<h2 itemprop="name">
<a href="{{{url}}}" itemprop="codeRepository url" content="{{{url}}}">{{name}}</a>
</h2>
<p itemprop="description">{{description}}</p>
</div>
{{/gitHubRepos}}
{{> tail}}
